<div class="sidebar" data-color="purple" >
 
    <div class="sidebar-wrapper">
        <div class="logo">
            <!-- <a href="http://www.creative-tim.com" class="simple-text"> -->
            <a class="simple-text" style="font-family:monospace">
                MOLECULE
            </a>
        </div>

        <div class="logo">
            <!-- <a href="http://www.creative-tim.com" class="simple-text"> -->
            <img src="../../assets/img_avatar2.png" alt=""
                style="width:120px; height:120px; margin-left: 50px;border-radius: 20px; border: 4px solid #804d00;">
        </div>

        <ul class="nav">
            

            <li class="nav-item" >
                <a class="nav-link" data-toggle="collapse" >
                    <i class="pe-7s-door-lock"></i>
                    <p>
                        Event Management

                    </p>
                </a>

            </li>

            <li class="nav-item" >
                <a class="nav-link" data-toggle="collapse" >
                    <i class="pe-7s-door-lock"></i>
                    <p>
                        Discount

                    </p>
                </a>

            </li>

            <li class="nav-item" >
                <a class="nav-link" data-toggle="collapse" >
                    <i class="pe-7s-door-lock"></i>
                    <p>My Profile</p>
                </a>
            </li>

            <!-- <li class="nav-item" *ngIf="userType==='FIRM' && userRole==='SUPERADMIN'">
                <a class="nav-link" data-toggle="collapse" [routerLink]="['/manageadvertisement']">
                    <i class="pe-7s-door-lock"></i>
                    <p>
                        Advertisement
                    </p>
                </a>
            </li> -->

            

            <!-- <li class="nav-item" *ngIf="userType==='FIRM' && userRole==='SUPERADMIN'">
                <a class="nav-link" data-toggle="collapse" [routerLink]="['/manageproduct']">
                    <i class="pe-7s-door-lock"></i>
                    <p>
                        Hotdeals
                    </p>
                </a>
            </li> -->

            <!-- delivery person -->
           

        

          

           

             </ul>
    </div>
</div>